# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Node
node_modules/
npm-debug.log*
pnpm-debug.log*
*.log

# Env
.env
.env.local
.env.*.local

# Build output / cache
site/
.cache/

# Package manager files
package-lock.json
