@font-face {
  font-family: 'Athletics';
  src: url('../../fonts/athletics/Athletics-Thin.woff2') format('woff2'),
    url('../../fonts/athletics/Athletics-Thin.woff') format('woff'),
    url('../../fonts/athletics/Athletics-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Athletics';
  src: url('../../fonts/athletics/Athletics-Thinitalic.woff2') format('woff2'),
    url('../../fonts/athletics/Athletics-Thinitalic.woff') format('woff'),
    url('../../fonts/athletics/Athletics-Thinitalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Athletics';
  src: url('../../fonts/athletics/Athletics-Light.woff2') format('woff2'),
    url('../../fonts/athletics/Athletics-Light.woff') format('woff'),
    url('../../fonts/athletics/Athletics-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Athletics';
  src: url('../../fonts/athletics/Athletics-Lightitalic.woff2') format('woff2'),
    url('../../fonts/athletics/Athletics-Lightitalic.woff') format('woff'),
    url('../../fonts/athletics/Athletics-Lightitalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Athletics';
  src: url('../../fonts/athletics/Athletics-Regular.woff2') format('woff2'),
    url('../../fonts/athletics/Athletics-Regular.woff') format('woff'),
    url('../../fonts/athletics/Athletics-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Athletics';
  src: url('../../fonts/athletics/Athletics-Regularitalic.woff2') format('woff2'),
    url('../../fonts/athletics/Athletics-Regularitalic.woff') format('woff'),
    url('../../fonts/athletics/Athletics-Regularitalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Athletics';
  src: url('../../fonts/athletics/Athletics-Medium.woff2') format('woff2'),
    url('../../fonts/athletics/Athletics-Medium.woff') format('woff'),
    url('../../fonts/athletics/Athletics-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Athletics';
  src: url('../../fonts/athletics/Athletics-Mediumitalic.woff2') format('woff2'),
    url('../../fonts/athletics/Athletics-Mediumitalic.woff') format('woff'),
    url('../../fonts/athletics/Athletics-Mediumitalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Athletics';
  src: url('../../fonts/athletics/Athletics-Bold.woff2') format('woff2'),
    url('../../fonts/athletics/Athletics-Bold.woff') format('woff'),
    url('../../fonts/athletics/Athletics-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Athletics';
  src: url('../../fonts/athletics/Athletics-Bolditalic.woff2') format('woff2'),
    url('../../fonts/athletics/Athletics-Bolditalic.woff') format('woff'),
    url('../../fonts/athletics/Athletics-Bolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Athletics';
  src: url('../../fonts/athletics/Athletics-Extrabold.woff2') format('woff2'),
    url('../../fonts/athletics/Athletics-Extrabold.woff') format('woff'),
    url('../../fonts/athletics/Athletics-Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Athletics';
  src: url('../../fonts/athletics/Athletics-Extrabolditalic.woff2') format('woff2'),
    url('../../fonts/athletics/Athletics-Extrabolditalic.woff') format('woff'),
    url('../../fonts/athletics/Athletics-Extrabolditalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Athletics';
  src: url('../../fonts/athletics/Athletics-Black.woff2') format('woff2'),
    url('../../fonts/athletics/Athletics-Black.woff') format('woff'),
    url('../../fonts/athletics/Athletics-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Athletics';
  src: url('../../fonts/athletics/Athletics-Blackitalic.woff2') format('woff2'),
    url('../../fonts/athletics/Athletics-Blackitalic.woff') format('woff'),
    url('../../fonts/athletics/Athletics-Blackitalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
