/* ---------- 400 Regular ---------- */
@font-face {
  font-family: 'Baskerville Neo Small';
  src: url('../../fonts/baskerville-neo-small/BaskervilleNeoSmall-Regular.eot');
  src: url('../../fonts/baskerville-neo-small/BaskervilleNeoSmall-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/baskerville-neo-small/BaskervilleNeoSmall-Regular.woff2') format('woff2'),
    url('../../fonts/baskerville-neo-small/BaskervilleNeoSmall-Regular.woff') format('woff'),
    url('../../fonts/baskerville-neo-small/BaskervilleNeoSmall-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* ---------- 400 Italic ---------- */
@font-face {
  font-family: 'Baskerville Neo Small';
  src: url('../../fonts/baskerville-neo-small/BaskervilleNeoSmall-RegularItalic.eot');
  src: url('../../fonts/baskerville-neo-small/BaskervilleNeoSmall-RegularItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/baskerville-neo-small/BaskervilleNeoSmall-RegularItalic.woff2') format('woff2'),
    url('../../fonts/baskerville-neo-small/BaskervilleNeoSmall-RegularItalic.woff') format('woff'),
    url('../../fonts/baskerville-neo-small/BaskervilleNeoSmall-RegularItalic.ttf')
      format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* ---------- 500 Medium ---------- */
@font-face {
  font-family: 'Baskerville Neo Small';
  src: url('../../fonts/baskerville-neo-small/BaskervilleNeoSmall-Medium.eot');
  src: url('../../fonts/baskerville-neo-small/BaskervilleNeoSmall-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/baskerville-neo-small/BaskervilleNeoSmall-Medium.woff2') format('woff2'),
    url('../../fonts/baskerville-neo-small/BaskervilleNeoSmall-Medium.woff') format('woff'),
    url('../../fonts/baskerville-neo-small/BaskervilleNeoSmall-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* ---------- 500 Medium Italic ---------- */
@font-face {
  font-family: 'Baskerville Neo Small';
  src: url('../../fonts/baskerville-neo-small/BaskervilleNeoSmall-MediumItalic.eot');
  src: url('../../fonts/baskerville-neo-small/BaskervilleNeoSmall-MediumItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/baskerville-neo-small/BaskervilleNeoSmall-MediumItalic.woff2') format('woff2'),
    url('../../fonts/baskerville-neo-small/BaskervilleNeoSmall-MediumItalic.woff') format('woff'),
    url('../../fonts/baskerville-neo-small/BaskervilleNeoSmall-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* ---------- 600 SemiBold ---------- */
@font-face {
  font-family: 'Baskerville Neo Small';
  src: url('../../fonts/baskerville-neo-small/BaskervilleNeoSmall-SemiBold.eot');
  src: url('../../fonts/baskerville-neo-small/BaskervilleNeoSmall-SemiBold.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/baskerville-neo-small/BaskervilleNeoSmall-SemiBold.woff2') format('woff2'),
    url('../../fonts/baskerville-neo-small/BaskervilleNeoSmall-SemiBold.woff') format('woff'),
    url('../../fonts/baskerville-neo-small/BaskervilleNeoSmall-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* ---------- 600 SemiBold Italic ---------- */
@font-face {
  font-family: 'Baskerville Neo Small';
  src: url('../../fonts/baskerville-neo-small/BaskervilleNeoSmall-SemiBoldItalic.eot');
  src: url('../../fonts/baskerville-neo-small/BaskervilleNeoSmall-SemiBoldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/baskerville-neo-small/BaskervilleNeoSmall-SemiBoldItalic.woff2')
      format('woff2'),
    url('../../fonts/baskerville-neo-small/BaskervilleNeoSmall-SemiBoldItalic.woff') format('woff'),
    url('../../fonts/baskerville-neo-small/BaskervilleNeoSmall-SemiBoldItalic.ttf')
      format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* ---------- 700 Bold ---------- */
@font-face {
  font-family: 'Baskerville Neo Small';
  src: url('../../fonts/baskerville-neo-small/BaskervilleNeoSmall-Bold.eot');
  src: url('../../fonts/baskerville-neo-small/BaskervilleNeoSmall-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/baskerville-neo-small/BaskervilleNeoSmall-Bold.woff2') format('woff2'),
    url('../../fonts/baskerville-neo-small/BaskervilleNeoSmall-Bold.woff') format('woff'),
    url('../../fonts/baskerville-neo-small/BaskervilleNeoSmall-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ---------- 700 Bold Italic ---------- */
@font-face {
  font-family: 'Baskerville Neo Small';
  src: url('../../fonts/baskerville-neo-small/BaskervilleNeoSmall-BoldItalic.eot');
  src: url('../../fonts/baskerville-neo-small/BaskervilleNeoSmall-BoldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/baskerville-neo-small/BaskervilleNeoSmall-BoldItalic.woff2') format('woff2'),
    url('../../fonts/baskerville-neo-small/BaskervilleNeoSmall-BoldItalic.woff') format('woff'),
    url('../../fonts/baskerville-neo-small/BaskervilleNeoSmall-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* ---------- 800 ExtraBold ---------- */
@font-face {
  font-family: 'Baskerville Neo Small';
  src: url('../../fonts/baskerville-neo-small/BaskervilleNeoSmall-ExtraBold.eot');
  src: url('../../fonts/baskerville-neo-small/BaskervilleNeoSmall-ExtraBold.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/baskerville-neo-small/BaskervilleNeoSmall-ExtraBold.woff2') format('woff2'),
    url('../../fonts/baskerville-neo-small/BaskervilleNeoSmall-ExtraBold.woff') format('woff'),
    url('../../fonts/baskerville-neo-small/BaskervilleNeoSmall-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* ---------- 800 ExtraBold Italic ---------- */
@font-face {
  font-family: 'Baskerville Neo Small';
  src: url('../../fonts/baskerville-neo-small/BaskervilleNeoSmall-ExtraBoldItalic.eot');
  src: url('../../fonts/baskerville-neo-small/BaskervilleNeoSmall-ExtraBoldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/baskerville-neo-small/BaskervilleNeoSmall-ExtraBoldItalic.woff2')
      format('woff2'),
    url('../../fonts/baskerville-neo-small/BaskervilleNeoSmall-ExtraBoldItalic.woff') format('woff'),
    url('../../fonts/baskerville-neo-small/BaskervilleNeoSmall-ExtraBoldItalic.ttf')
      format('truetype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
