@font-face {
  font-family: 'GT Pressura';
  src: url('../../fonts/gt-pressura/GTPressura-Thin.woff2') format('woff2'),
    url('../../fonts/gt-pressura/GTPressura-Thin.woff') format('woff'),
    url('../../fonts/gt-pressura/GTPressura-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Pressura';
  src: url('../../fonts/gt-pressura/GTPressura-Thinitalic.woff2') format('woff2'),
    url('../../fonts/gt-pressura/GTPressura-Thinitalic.woff') format('woff'),
    url('../../fonts/gt-pressura/GTPressura-Thinitalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GT Pressura';
  src: url('../../fonts/gt-pressura/GTPressura-Light.woff2') format('woff2'),
    url('../../fonts/gt-pressura/GTPressura-Light.woff') format('woff'),
    url('../../fonts/gt-pressura/GTPressura-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Pressura';
  src: url('../../fonts/gt-pressura/GTPressura-Lightitalic.woff2') format('woff2'),
    url('../../fonts/gt-pressura/GTPressura-Lightitalic.woff') format('woff'),
    url('../../fonts/gt-pressura/GTPressura-Lightitalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GT Pressura';
  src: url('../../fonts/gt-pressura/GTPressura-Regular.woff2') format('woff2'),
    url('../../fonts/gt-pressura/GTPressura-Regular.woff') format('woff'),
    url('../../fonts/gt-pressura/GTPressura-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Pressura';
  src: url('../../fonts/gt-pressura/GTPressura-Regularitalic.woff2') format('woff2'),
    url('../../fonts/gt-pressura/GTPressura-Regularitalic.woff') format('woff'),
    url('../../fonts/gt-pressura/GTPressura-Regularitalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GT Pressura';
  src: url('../../fonts/gt-pressura/GTPressura-Medium.woff2') format('woff2'),
    url('../../fonts/gt-pressura/GTPressura-Medium.woff') format('woff'),
    url('../../fonts/gt-pressura/GTPressura-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Pressura';
  src: url('../../fonts/gt-pressura/GTPressura-Mediumitalic.woff2') format('woff2'),
    url('../../fonts/gt-pressura/GTPressura-Mediumitalic.woff') format('woff'),
    url('../../fonts/gt-pressura/GTPressura-Mediumitalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GT Pressura';
  src: url('../../fonts/gt-pressura/GTPressura-Bold.woff2') format('woff2'),
    url('../../fonts/gt-pressura/GTPressura-Bold.woff') format('woff'),
    url('../../fonts/gt-pressura/GTPressura-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Pressura';
  src: url('../../fonts/gt-pressura/GTPressura-Bolditalic.woff2') format('woff2'),
    url('../../fonts/gt-pressura/GTPressura-Bolditalic.woff') format('woff'),
    url('../../fonts/gt-pressura/GTPressura-Bolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'GT Pressura';
  src: url('../../fonts/gt-pressura/GTPressura-Black.woff2') format('woff2'),
    url('../../fonts/gt-pressura/GTPressura-Black.woff') format('woff'),
    url('../../fonts/gt-pressura/GTPressura-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT Pressura';
  src: url('../../fonts/gt-pressura/GTPressura-Blackitalic.woff2') format('woff2'),
    url('../../fonts/gt-pressura/GTPressura-Blackitalic.woff') format('woff'),
    url('../../fonts/gt-pressura/GTPressura-Blackitalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
